<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Chat Application</h1>
                <div id="chatArea" class="border p-3 mb-3" style="height: 300px; overflow-y: scroll;"></div>
                <div class="input-group">
                    <input type="text" id="sender" class="form-control" placeholder="Your Name">
                    <input type="text" id="content" class="form-control" placeholder="Message">
                    <div class="input-group-append">
                        <button onclick="sendMessage()" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.1/sockjs.min.js"></script>
    <!-- Include SockJS and Stomp.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
   <!-- <script src="https://cdn.jsdelivr.net/npm/stompjs"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.1/sockjs.min.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/public', function (chatMessage) {
                    showMessage(JSON.parse(chatMessage.body));
                });
                stompClient.send("/app/chat.getHistory", {}, {});
            });
        }

        function sendMessage() {
            var sender = $("#sender").val();
            var content = $("#content").val();
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify({ 'sender': sender, 'content': content }));
        }

        function showMessage(message) {
            var formattedMessage = "<strong>" + message.sender + ":</strong> " + message.content + "<br>";
            $("#chatArea").append(formattedMessage);
        }

        $(document).ready(function () {
            connect();
        });
    </script>
</body>
</html>
